<section class="articles-list">
           <div class="content">
            <h4 class="recent"><i class="fa fa-file-text"></i> Recent Research Articles</h4>
            
            <article class="item">
    				<img src="assets/images/thumb.jpg" alt="Thumnbnail image for @title article" class="img-responsive thumbnail" />
    				<div class="article-intro">
    				    <a href="@url"><h3 class="title">Testing the X-15</h3></a>
    				    <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis molestiae alias sint, laudantium. Velit dicta numquam, mollitia perferendis quidem quia qui accusamus ab totam, earum blanditiis placeat sit aliquam soluta?
                        </p>
    				</div>
        	</article>
            </div>
        </section>