<footer>
    <section class="copyright">
        <p>Copyright &copy; 2014, Neil Armstrong</p>
    </section>

    <section class="social">
        <span class="fa-stack fa-lg">
            <a href="#">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
        </span>

        <span class="fa-stack fa-lg">
            <a href="#">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
        </span>

        <span class="fa-stack fa-lg">
            <a href="#">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </a>
        </span>
    </section>
</footer>